.codex
.ipynb_checkpoints/
**/.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

outputs/figures/*
!outputs/figures/.gitkeep
outputs/models/*
!outputs/models/.gitkeep

materi_ppt/

__pycache__/
*.py[cod]
.env
.venv/
venv/
